{% extends "base.html" %} {% block content %}
<section class="container mx-auto p-8">
  <div class="text-center">
    <h3 class="text-l text-green-500 font-bold mb-4">{{ message }}</h3>
    <h3 class="text-l text-red-500 font-bold mb-4">{{ error }}</h3>
  </div>

  <div class="text-center">
    
    {% if not user.is_authenticated %}
    <a href="{% url 'signup' %}">
      <button
        class="w-1/5 bg-blue-400 p-10 rounded hover:bg-blue-500 duration-300 m-4"
      >
        従業員の登録
      </button>
    </a>

    <a href="{% url 'login' %}">
      <button
        class="w-1/5 bg-blue-400 p-10 rounded hover:bg-blue-500 duration-300 m-4"
      >
        ログイン
      </button>
    </a>
    {% endif %}


    {% if user.is_authenticated and user.username != "admin" %}
    <a href="{% url 'workerInfo' %}">
      <button
        class="w-1/5 bg-green-400 p-10 rounded hover:bg-green-500 duration-300 m-4"
      >
        従業員個人ページ
      </button>
    </a>

    <a href="{% url 'addWorkingInfo' %}">
      <button
        class="w-1/5 bg-green-400 p-10 rounded hover:bg-green-500 duration-300 m-4"
      >
        勤怠情報を追加
      </button>
    </a>
    {% endif %}


    {% if user.username == "admin" %}
    <a href="{% url 'workerList' %}">
      <button
        class="w-1/5 bg-orange-400 p-10 rounded hover:bg-orange-500 duration-300 m-4"
      >
        従業員一覧
      </button>
    </a>

    <a href="{% url 'workerList' %}">
      <button
        class="w-1/5 bg-orange-400 p-10 rounded hover:bg-orange-500 duration-300 m-4"
      >
        管理者ページ
      </button>
    </a>

    <a href="{% url 'workerList' %}">
      <button
        class="w-1/5 bg-orange-400 p-10 rounded hover:bg-orange-500 duration-300 m-4"
      >
        管理者ページ
      </button>
    </a>
    {% endif %}

  </div>
</section>
{% endblock %}
